*{
    margin: 0%;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1519px;
    height: 1030px;
    padding-top: 60px;
}
.container{
    width: 80%;
    margin: auto;
}
.name{
    width: 50%;
    font-size: 20px;
    float: left;
    left: 50px;
    position: relative;
}
.menu{
    width: 50%;
    overflow: hidden;
    position: relative;
    top: -30px;
}
.menu nav ul li {
    float: left;
    margin-right: 60px;
    list-style: none;
}
.menu nav ul li a{
    color: #424242;
    text-decoration: none;
    font-weight: 500;
}
.headinfo h1{
    position: absolute;
    left: 529px;
    top: 205px;
    font-weight:bolder;
    font-size: 50px;
    font-family: 'Work Sans';
    text-align: center;
}
.headinfo p{
    position: absolute;
    left: 400px;
    top: 340px;
    font-family: 'Work Sans';
    text-align: center;
    color: #727272;
}
.headinfo button{
    background-color: #FF900E;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px;
    border: none;
    border-radius: 5px;
    left: 680px;
    top: 400px;
    position: absolute;

}
.headinfo img{
    height: 550px;
    width: 1100px;
    top: 500px;
    left: 200px;
    display: flex;
    position:absolute;
}
nav{
    width: 1519px;
    height: 1050px;
    padding-top: 60px;
}
.center{
    width: 74%;
    
    margin: auto;
}
.centerleft{
    width: 50%;
    float: left;
}
.centerright{
    width: 50%;
    overflow: hidden;
}
.centerleft img{
    width: 260px;
    height: 240px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50px;
}
.centerright img{
    width: 260px;
    height: 240px;
    float: left;
    margin-right: 20px;
    position: relative;
    left: 50px;
}
.p1{
    color: rgba(114, 114, 114, 1);
    font-size: 40px;
    float: left;
    margin-top: 130px;
    margin-left: 60px;
    position: relative;
}
.p2{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    overflow: hidden;
    margin-top: 130px;
    left: 15px;
    position: relative;
}
.p3{
    color: rgba(255, 144, 14, 1);
    font-size: 40px;
    font-weight: bolder;
    margin-top: 12px;
    margin-left: 60px;
    position: relative;
}
.p4{
    color: #727272;
    width: 420px;
    margin-left: 60px;
    margin-top: 25px;
    position: relative;
}
.centerbutton{
    background-color: #FF900E;
    color: white;
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 60px;
    position: absolute;
    font-weight: bolder;
}
.midleft{
    width: 50%;
    float: left;
}
.midright{
    width: 50%;
    overflow: hidden;
}
.midright img{
    position: absolute;
    width: 540px;
    height: 800px;
    left: 770px;
    margin-top: -950px;
}
.b1{
    background-color: #FF900E;
    height: 80px;
    width:1%;
    margin-top: 320px;
    right:560px ;
    position: relative;
    border: none;

}
.midleft p{
    text-align: left;
    width: 420px;
    color: #727272;
    position: relative;
    right: 560px;
    margin-top: 20px;
    
}.mainh{
    margin-top: -80px;
    margin-left: 10px;
    position: relative;
    font-size: 35px;
    right: 540px;

}
.b2 h1{
    font-size: 20px;
    right: 530px;
    position: relative;
    margin-top: 35px;
}
.b2 p{
    right: 530px;
    position: relative;
    height: 200px; 
}
.b3 h1{
    font-size: 20px;
    right: 530px;
    position: relative;
    margin-top: -65px;
}
.b3 p{
    right: 530px;
    position: relative;
    height: 200px; 
}
.b4 h1{
    font-size: 20px;
    right: 530px;
    position: relative;
    margin-top: -65px;
}
.b4 p{
    right: 530px;
    position: relative;
    height: 200px; 
}
.b5 h1{
    font-size: 20px;
    right: 530px;
    position: relative;
    margin-top: -65px;
}
.b5 p{
    right: 530px;
    position: relative;
    height: 200px; 
}
.experience{
    background-color: #FF900E;
    width: 180px;
    padding: 35px;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    left: 500px;
    top: -280px;
    position: relative;
}
.experience h1{
    font-size: 50px;
    font-weight: bolder;
}
.experience p{
    font-size: 20px;
}
.facts h1{
    font-size: 35px;
    font-weight: bolder;
    margin-top: -100px;
    left: 190px;
    position: relative;
}
.facts p{
    width: 450px;
    left: 190px;
    position: relative;
    margin-top: 20px;
    color: #727272;
}

.achievements_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 50px;
    margin-top: 60px;
    width: 70%;
    color: #424242;
    left: 230px;
    position: relative;

}
.achievements_icon img {
    padding-bottom: 20px;
}
.achievements_card {
    background: transparent;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px 15px;
    transition: all 600ms ease-in-out;
}
.achievements_card h3 {
    font-weight: bolder;
    font-size: 35px;
    color: var(--bold-text-color);
    padding-bottom: 5px;
}
.achievements_card p {
    font-weight: 600;
    font-size: 20px;
    color: var(--p-text-color);
}

.achievements_card:hover {
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.1);
    transform: translateY(50px) scale(0.5) rotate(360deg);

}
.brand_heading p {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: #727272;
    width: 600px;
}
.brand_heading h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 1350px;
    font-size: 35px;
    font-weight: bolder;
}
.brand_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 180px;
    margin-top: 50px;
    filter: grayscale(100%);
}

footer{
    width: 1519px;
    
}
.footer {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.footer_copyright {
    font-size: 18px;
    color: var(--p-text-color);
    justify-content: center;
    padding: 44px 0;
}

@media only screen and (max-width: 650px) {
    .container, 
    nav, .header,
    .facts_heading .text, 
    .brand_heading .text, 
    .figure > img, 
    form input[type="text"] {
        width: 100%;
    }
    h2.heading {
        font-size: 36px;
    }
    nav {
        flex-direction: column;
    }
    .features {
        display: flex;
        flex-direction: column-reverse;
        padding: 80px 20px;
    }
    .faqs, .features {
        grid-template-columns: repeat(1, 1fr);
    }
    .experience {
        display: none;
    }
    .faq_image img {
        padding-right: 30px;
    }
    .achievements_cards, .gallery {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    .brand_logo {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        
    }
    .brand_logo >img {
        width: 80%;
    }
    .footer {
        margin-bottom: 100px;
    }
}